<div>
  <button id="logout-button">Logout</button>
</div>
<div style="max-width:60em; text-align:justify">
  <div id="balance-warning" class="ui-state-error ui-corner-all" style="padding: 0.7em; max-width: 40em; margin: 1em auto">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
    <strong>Subscription is not active</strong> Pay <span class="neg-balance"></span> BTC to the address below to activate</p>
  </div>
  <h2>Manage subscription flexibly</h2>
  <p>You can now manage your subscription budget flexibly and accordingly to your needs. There are 1 day, 1 month and 2 months subscription plans.
  <h2>How to subscribe and pay</h2>
  When you are ready to pay, select your prefered subscription plan clicking the button.
  At this moment your bitcoin address will be generated. Use it to add funds to your account.
  <h2>How long will it take to activate?</h2>
  Your subscription will be activated as soon as we get notified about your payment, usually after 1 confirmation from Bitcoin network.
  But sometimes it may take longer, approx from 10-30 minutes. Please be patient and wait for some time and try to reload the page.
  <br/><br/>
  </p>

  <!--p>After that, we will deduce 0.5 BTC every month from your balance. When your balance becomes negative, your subscription is suspended and re-activated when
    more funds are paid to the Bitcoin address. Subscription lasts 720 hours (30 days * 24 hours) after payment.</p-->
<h2>Account status</h2>

  <div id="configure-history"></div>
</div>
