.dygraph-label
	color black

.marketchart
	width 100%
	overflow hidden
	position relative
	margin 0 2px 0 0
	float left

.legend
	width 180px
	font-size 13px
	color black
	font-weight bold
	text-align right
	position absolute
	right 0
	padding-right 5px
	
.chartcontainer
	position relative
	width 100%
	height 150px
	margin 0 0 2px 0
	background-color white
	
.legend span.value
	font-size 17px

