//instant arbitrage styles
div.arbitrage-table th
table.slow-instant-arbitrage th
  font-size 12px
  height 44px
.down
  background-color #A61B1B
.up
  background-color #0D7F33
.negative
  background-color #FFFF77
  color #000000
.level
  background-color blue
.diff 
  font-size 17px
  font-weight bold
.percent 
  font-size 12px
  vertical-align bottom
  padding-left 2em
  font-weight bold
.bidask 
  font-size 10px
.clear 
  clear both
.arbitrage-table table 
  float left
.order-details 
  float left
.order-details table 
  width 390px
table em
  text-decoration underline
  font-style inherit
div#new-2x2-arbitrage-table
div#new-2x2-arbitrage-charts
div#new-2x2-arbitrage-ex-orders
div#new-2x2-arbitrage-orders
  width 45%
  position relative
  float left
  margin-bottom 20px
div#new-2x2-arbitrage-charts
div#new-2x2-arbitrage-orders
  float right

#tabs  div#arbitrage.ui-tabs-panel
  min-height 950px

div#arbitrage-table
  margin-right 20px

#arbitrage-orderbook
  float left
  max-width 670px
  width 670px
  height 560px
  overflow-y scroll
  padding-right 20px
  
