//2x2 tab styles
table.arbitrage-layout
  width 100%
  table-layout fixed

table.arbitrage-layout col.left
//  width 46%

table.arbitrage-layout col.right
  align right


table.arbitrage-layout td
  vertical-align top


table.arbitrage-table th
  font-size 12px
  height 44px

table.limit-orders table
  width 16em

.new-2x2-arbitrage-ex-orders
  max-height 400px
  overflow auto

td.integrated
  opacity 0.5

td span.int
td span.dec
  display inline-block
  width 30%
  text-align right
td span.dec
  text-align left
  width 65%
