#arbitrage-orderbook .orderbook-table
  float left
  margin 5px 20px 0 0
  
.orderbook-table
  margin 1.0em auto
  width 572px

.orderbook-table > div
  width 285px
  
.left
  float left
.right
  float right
  
.orderbook-table table
  margin 0 auto
  width 285px
  max-width 285px
  overflow hidden
  border-collapse collapse
  border-spacing 0
  color #F4FFE4
  font-family Consolas, "Courier New", monospace
  font-size 12px
  line-height 12px

.orderbook-table table tr th.title 
  font-family 'Gill Sans MT',Helvetica,Arial,sans-serif
  font-size 16px
  padding 0.5em 0 0.5em 0
  border 0
  
.orderbook-table table tr th
  padding 2px 10px 3px 10px
  color white
  border-bottom 1px solid #999
  margin-bottom 3px
  
.orderbook-table table tbody tr:first-child td 
  padding-top 3px

.orderbook-table table tr td.sumCell 
  color #7A7F72


.orderbook-table table tr td 
  padding 0 5px
  text-align right
  width 85px
  overflow hidden
  
.orderbook-table table tr td 
  padding 0 5px
  text-align right
  width 85px
  overflow hidden
  
.orderbook-table table tr td.priceCell 
  background-color: #1A1C1A
.insig
  color #30332D

  
