table.xarbitrage-table td span.diff
  margin-right -1em

table.xarbitrage-table th
  font-size 12px
  height 44px
  
div#xarbitrage-table
  margin-right 20px
  
table.xarbitrage-table td
  width 7em
  min-width 7em
  
table.xarbitrage-table td.selected
  outline  2px solid red

table.xarbitrage-table td.divider
  width 6px
  min-width 6px

#xarbitrage-secondary-currency-select-input
  width 34px
  height 15px
  
.xarbitrage-conversion-rate-provider-select-input
  width 6em
  height 15px
  
#xarbitrage-conversion-rate
#xarbitrage-filter-percent
#xarbitrage-conversion-rate-display
  width 4em
  margin-left 2em
  
.ui-autocomplete
  position absolute
  cursor default
  z-index 4000 !important
