<table class="xarbitrage-table">
  <thead>
    <tr class="first">
      <th class="ui-state-active ui-corner-top ui-corner-bl">${$item.volume}</th>
      {{each $data['cols']}}
        {{setvar colhead=$data['data'][$data['rows'][0]][$value]}}
        
      {{if $data['secColTicker'] == $value}}
      <th class='row ui-state-active ui-corner-top divider' >&nbsp;</th>
      {{/if}}
        
      <th class='row ui-state-active ui-corner-top'>${$value}</br>sell: ${$item.formatPercent(colhead.bid)}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{each $data['rows']}}
        {{setvar row=$value}}
        {{setvar rowhead=$data['data'][row][$data['cols'][0]]}}
        
    {{if $data['secRowTicker'] == row}}
    <tr>
      <th class='first ui-state-active ui-corner-left' style="height:6px;"></th>
    </tr>
    {{/if}}
    <tr>

      <th class="first ui-state-active ui-corner-left">${$value}</br>buy: ${$item.formatPercent(rowhead.ask)}</th>
     {{each $data['cols']}}
       {{setvar col=$value}}
       {{setvar cell=$data['data'][row][col]}}

       {{if $data['secColTicker'] == col}}
      <td class="divider"></td>
       {{/if}}
       
        {{if $data['filter'].selectedCellBid == col && $data['filter'].selectedCellAsk == row}}
            {{setvar cellClass = 'selected'}}
        {{else}}
            {{setvar cellClass = ''}}
        {{/if}}
        {{if cell.percent < 0 && cell.percent > -10}}
            {{setvar cellClass += ' ui-state-error'}}
        {{else cell.percent < -10}}
            {{setvar cellClass += ' ui-state-highlight'}}
        {{else cell.percent > 0}}
            {{setvar cellClass += ' ui-state-active'}}
        {{else}}
            {{setvar cellClass += ' ui-state-disabled'}}
        {{/if}}
        {{if cell.alert}}
        {{setvar alert=cell.alertData}}
        {{setvar cellTooltip = 'Sell: '+alert.bid+' Buy: '+alert.ask+'\npercent: '+alert.percent+'% \ntreshold: '+alert.timetreshold+' mins\nrate: '+alert.rate}}
        {{else}}
        {{setvar cellTooltip = ''}}
        {{/if}}

      <td x-ask-ticker="${row}" x-bid-ticker="${col}" class="${cellClass}" alert="{{if cell.alert}}alert{{else}}none{{/if}}" pin="{{if cell.pin}}pin{{else}}none{{/if}}" {{if alert.executed}}executed="executed"{{/if}}>
          <span class="diff">${$item.formatPercent(cell.percent)}%</span>
          {{if cell.alert}}
          <span class="ui-icon ui-icon-info{{if cell.alertData.executed}} alert-executed{{/if}}" style="float:right" title="${cellTooltip}"></span>
          {{else cell.pin}}
          <span class="ui-icon ui-icon-pin-s" style="float:right" title="pinned"></span>
          {{/if}}
          
          <br/>
          <span class="percent">(${$item.formatDiff(cell.diff*$item.volume)})</span><br/>
          <span class="bidask">Sell:${$item.formatPercent(cell.bid)}<br/>Buy:${$item.formatPercent(cell.ask)}</span>
      </td>
     {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
