<div id="orderbook-table" class="orderbook-table">
    <div class="left">
        <table>
            <thead id="bids-thead-${$item.domId}" class="bids-thead">
                <tr>
                    <th colspan="3" class="title" >Bids ${$item.bidsTitle}</th>
                </tr>
                <tr><th>Sum</th><th>Volume</th><th>Price</th></tr>
            </thead>
            <tbody id="bids-${$item.domId}" class="bids">
                <tr class=""><td class="sumCell">25.0<span class="insig"></span></td><td>25.0199</td><td class="priceCell">14.00872</td></tr>
                <tr class=""><td class="sumCell">84.9<span class="insig"></span></td><td>59.9105</td><td class="priceCell">14.006<span class="insig">00</span></td></tr>
                <tr><td class="sumCell">89.9<span class="insig"></span></td><td>5.0<span class="insig">000</span></td><td class="priceCell">14.005<span class="insig">00</span></td></tr>
                <tr><td class="sumCell">109.9<span class="insig"></span></td><td>20.0<span class="insig">000</span></td><td class="priceCell">14.001<span class="insig">00</span></td></tr>
                <tr class="wholeNumberRow"><td class="sumCell">669.1<span class="insig"></span></td><td class="">559.1749</td><td class="priceCell">14.0<span class="insig">0000</span></td></tr>
                <tr><td class="sumCell">677.9<span class="insig"></span></td><td>0.1043</td><td class="priceCell">13.99715</td></tr>
                <tr><td class="sumCell">678.4<span class="insig"></span></td><td>0.4785</td><td class="priceCell">13.99705</td></tr>
                <tr><td class="sumCell">680.0<span class="insig"></span></td><td>1.6607</td><td class="priceCell">13.99701</td></tr>
                <tr><td class="sumCell">681.7<span class="insig"></span></td><td>1.7166</td><td class="priceCell">13.99555</td></tr>
                <tr><td class="sumCell">682.3<span class="insig"></span></td><td>0.5103</td><td class="priceCell">13.99483</td></tr>
                <tr><td class="sumCell">683.3<span class="insig"></span></td><td>1.0133</td><td class="priceCell">13.99453</td></tr>
                <tr><td class="sumCell">683.7<span class="insig"></span></td><td>0.4207</td><td class="priceCell">13.99374</td></tr>
                <tr><td class="sumCell">684.2<span class="insig"></span></td><td>0.5121</td><td class="priceCell">13.99251</td></tr>
                <tr><td class="sumCell">684.3<span class="insig"></span></td><td>0.0664</td><td class="priceCell">13.99132</td></tr>
                <tr><td class="sumCell">684.4<span class="insig"></span></td><td>0.1<span class="insig">000</span></td><td class="priceCell">13.9913<span class="insig">0</span></td></tr>
                <tr><td class="sumCell">684.5<span class="insig"></span></td><td>0.1<span class="insig">000</span></td><td class="priceCell">13.99<span class="insig">000</span></td></tr>
                <tr><td class="sumCell">684.6<span class="insig"></span></td><td>0.1<span class="insig">000</span></td><td class="priceCell">13.9893<span class="insig">0</span></td></tr><tr><td class="sumCell">686.4<span class="insig"></span></td><td>1.817<span class="insig">0</span></td><td class="priceCell">13.98636</td></tr>
                <tr><td class="sumCell">688.1<span class="insig"></span></td><td>1.6733</td><td class="priceCell">13.9844<span class="insig">0</span></td></tr>
                <tr><td class="sumCell">688.1<span class="insig"></span></td><td>0.078<span class="insig">0</span></td><td class="priceCell">13.98433</td></tr>
                <tr><td class="sumCell">689.9<span class="insig"></span></td><td>1.7638</td><td class="priceCell">13.98413</td></tr>
                <tr><td class="sumCell">691.8<span class="insig"></span></td><td>1.886<span class="insig">0</span></td><td class="priceCell">13.98175</td></tr>
                <tr><td class="sumCell">692.3<span class="insig"></span></td><td>0.5575</td><td class="priceCell">13.97553</td></tr>
                <tr><td class="sumCell">692.7<span class="insig"></span></td><td>0.3025</td><td class="priceCell">13.97519</td></tr>
                <tr><td class="sumCell">&nbsp;</td><td>1.2234</td><td class="priceCell">13.97402</td></tr>
            </tbody>
        </table>
    </div>
    <div class="right">
        <table>
            <thead id="asks-thead-${$item.domId}" class="asks-thead">
                <tr><th colspan="3" class="title">Asks ${$item.asksTitle}</th></tr>
                <tr><th>Price</th><th>Volume</th><th>Sum</th></tr>
            </thead>
            <tbody id="asks-${$item.domId}" class="asks">
                <tr><td class="priceCell">14.11148</td><td>22.7611</td><td class="sumCell">22.8<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.1179<span class="insig">0</span></td><td>0.1093</td><td class="sumCell">22.9<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.13<span class="insig">000</span></td><td>51.9487</td><td class="sumCell">74.8<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.13095</td><td>373.8768</td><td class="sumCell">448.7<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.14<span class="insig">000</span></td><td>194.2203</td><td class="sumCell">642.9<span class="insig"></span></td></tr>
                <tr class=""><td class="priceCell">14.14628</td><td>59.9728</td><td class="sumCell">702.9<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.14696</td><td>0.1944</td><td class="sumCell">703.1<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.149<span class="insig">00</span></td><td>354.4821</td><td class="sumCell">1057.6<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.14963</td><td>0.0289</td><td class="sumCell">1057.6<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.15<span class="insig">000</span></td><td>99.0<span class="insig">000</span></td><td class="sumCell">1156.6<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.1537<span class="insig">0</span></td><td>13.0<span class="insig">000</span></td><td class="sumCell">1169.6<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.15773</td><td>0.0326</td><td class="sumCell">1169.6<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.1595<span class="insig">0</span></td><td>6.19<span class="insig">00</span></td><td class="sumCell">1175.8<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.16048</td><td>0.0299</td><td class="sumCell">1175.8<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.16091</td><td>0.0334</td><td class="sumCell">1175.9<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.16429</td><td>0.0261</td><td class="sumCell">1175.9<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.16705</td><td>0.0393</td><td class="sumCell">1175.9<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.16815</td><td>17.6191</td><td class="sumCell">1193.6<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.16883</td><td>0.0489</td><td class="sumCell">1193.6<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.17<span class="insig">000</span></td><td>3.0<span class="insig">000</span></td><td class="sumCell">1196.6<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.17131</td><td>0.0432</td><td class="sumCell">1196.7<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.17599</td><td>59.9122</td><td class="sumCell">1256.6<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.17699</td><td>0.0335</td><td class="sumCell">1256.6<span class="insig"></span></td></tr>
                <tr class=""><td class="priceCell">14.1779<span class="insig">0</span></td><td class="">17.7448</td><td class="sumCell">1274.3<span class="insig"></span></td></tr>
                <tr><td class="priceCell">14.1811<span class="insig">0</span></td><td>1.0<span class="insig">000</span></td><td class="sumCell">1275.3<span class="insig"></span></td></tr>
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
</div>